@charset "utf-8";

$primary: #07A0C3;
$success: #6DA34D;
$info: #E4DFDA;
$dark: #2A1E5C76;

.section {
  margin: 0 5rem 0 5rem
}

.hero-body {
  margin: 0 6rem 0 6rem
}

// Import only what you need from Bulma
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
@import "./node_modules/bulma/sass/form/_all.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
@import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/layout/section.sass";